<!doctype HTML>
<html>
  <head>
    <title>Partial and layout</title>
  </head>

  <body>
    <%= name %>
    <%= render partial: 'layouts/some_partial' %>
    <%= render partial: 'layouts/some_partial', locals: { name: "Overwritten Hanami" } %>
    <%= yield %>
  </body>
</html>
