<html>
  <head>
    <title><%= title %></title>
  </head>

  <body>
    <% if local(:plan).overdue? %>
      <h2>Your plan is overdue.</h2>
    <% end %>

    <%= render partial: 'shared/sidebar' %>
    <%= yield %>
  </body>
</html>
